In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
df = pd.read_excel('Gobierno Digital (Responses).xlsx')
del df['Email address']
df.head()

,Timestamp,Sexo,Sector donde vive en San Antonio de los Altos,Edad,¿Tiene acceso a Internet?,De tener acceso a Internet ¿Maneja las páginas web con facilidad?,"¿Sabe que significa ""Gobierno digital?",¿Cree usted que la atención al ciudadano en la Alcaldía Los Salias es eficiente?,¿Le gustaría realizar los trámites civiles desde una página web?,¿Le gustaría realizar sus reclamos o sugerencias a través de una página web?,¿Le gustaría ver como va la gestión de su reclamo o sugerencia en línea y en tiempo real?,¿Le gustaría estar informado de las Asambleas Ciudadanas y Juntas Vecinales a través de una página web?,¿Se considera usted un ciudadano participativo?,¿Le gustaría tener más participación dentro de su comunidad?,¿De qué manera le gustaría participar?
0,2017-03-07 10:50:24.560,Mujer,El picacho,18-25,Sí,Sí,Sí,Podría ser mejor,Sí,Sí,Sí,Sí,Sí,Sí,En realizar más asambleas vecinales
1,2017-03-07 11:09:28.684,Mujer,Los salias,18-25,No,Sí,He escuchado hablar de el superficialmente,Podría ser mejor,Sí,No,No,No,Sí,No,No me gustaria
2,2017-03-07 11:10:40.698,Hombre,La Morita,18-25,Sí,Sí,He escuchado hablar de el superficialmente,No,Sí,Sí,Sí,Tal vez,No,Sí,En lo que pueda ayudar si tengo la disponibili...
3,2017-03-07 11:38:41.924,Hombre,El picacho,18-25,Sí,Sí,Sí,Sí,Sí,Sí,Sí,Sí,Sí,Sí,En ser vocero para mejorar mucho mas de lo que...
4,2017-03-07 12:01:37.088,Hombre,San Antonio,18-25,Sí,Sí,No,Podría ser mejor,Sí,Sí,No,No,No,No,No

In [3]:
df.columns = ['time', 'sex', 'sanan', 'edad', 'internet', 'fac', 'gobdig', 'efi'
             , 'tramciv', 'recsug', 'treal', 'infas', 'cpar', 'maspar', 'forpar']

In [4]:
f, m = df.sex.value_counts()[0], df.sex.value_counts()[1]
tot = len(df.sex)
propf, propm = f/tot, m/tot

In [5]:
sexo = stats.bernoulli.rvs(propm, size = 313)
len(sexo)

313

In [6]:
df.edad.value_counts()

18-25    36
26-33    18
34-41    16
+57      11
42-49    11
50-57     9
Name: edad, dtype: int64

In [7]:
edad = []
for i in df.edad:
    if i == '18-25':
        edad.append(1)
    elif i == '26-33':
        edad.append(2)
    elif i == '34-41':
        edad.append(3)
    elif i == '42-49':
        edad.append(4)
    elif i == '50-57':
        edad.append(5)
    else:
        edad.append(6)
medad = np.mean(edad)
stdedad = np.std(edad)
q1 = pd.Series(abs(np.random.normal(medad, stdedad, 313).round()))
len(q1)
q1.replace([0,8], medad.round(), inplace = True)
q1.value_counts()

3.0    106
2.0     57
4.0     51
1.0     48
5.0     39
6.0     10
7.0      2
dtype: int64

In [8]:
inter = []
for i in df.internet:
    if i == 'Sí':
        inter.append(1)
    elif i == 'No':
        inter.append(2)
    elif i == 'Deficiente':
        inter.append(3)
mint = np.mean(inter)
stdint = np.std(inter)
q2 = pd.Series(abs(np.random.normal(mint, stdint, 313).round()))
len(q2)
q2.replace([0, 4], mint.round(), inplace = True)
q2

0      1.0
1      2.0
2      2.0
3      1.0
4      1.0
5      1.0
6      2.0
7      1.0
8      1.0
9      1.0
10     2.0
11     1.0
12     1.0
13     2.0
14     2.0
15     1.0
16     1.0
17     1.0
18     2.0
19     1.0
20     1.0
21     1.0
22     1.0
23     1.0
24     1.0
25     1.0
26     2.0
27     1.0
28     1.0
29     1.0
      ...
283    1.0
284    1.0
285    1.0
286    1.0
287    1.0
288    1.0
289    2.0
290    2.0
291    2.0
292    1.0
293    1.0
294    2.0
295    1.0
296    2.0
297    1.0
298    1.0
299    1.0
300    1.0
301    1.0
302    1.0
303    1.0
304    1.0
305    1.0
306    1.0
307    2.0
308    1.0
309    1.0
310    1.0
311    1.0
312    1.0
dtype: float64

In [9]:
q3s, q3n = df.fac.value_counts()[0], df.fac.value_counts()[1]
props, propn = q3s/tot, q3n/tot
q3 = stats.bernoulli.rvs(props, size = 313)
len(q3)

313

In [10]:
digob = []
for i in df.gobdig:
    if i == 'Sí':
        digob.append(1)
    elif i == 'No':
        digob.append(2)
    elif i == 'He escuchado hablar de el superficialmente':
        digob.append(3)
md = np.mean(digob)
stdd = np.std(digob)
q4 = pd.Series(abs(np.random.normal(md, stdd, 313).round()))
len(q4)
q4.replace([0, 4], md.round(), inplace = True)
q4

0      2.0
1      3.0
2      3.0
3      2.0
4      3.0
5      3.0
6      2.0
7      2.0
8      2.0
9      2.0
10     1.0
11     2.0
12     2.0
13     1.0
14     2.0
15     2.0
16     2.0
17     3.0
18     3.0
19     2.0
20     1.0
21     2.0
22     2.0
23     1.0
24     2.0
25     2.0
26     2.0
27     2.0
28     2.0
29     3.0
      ...
283    3.0
284    2.0
285    2.0
286    3.0
287    3.0
288    2.0
289    2.0
290    2.0
291    2.0
292    2.0
293    2.0
294    3.0
295    3.0
296    2.0
297    2.0
298    2.0
299    3.0
300    2.0
301    3.0
302    3.0
303    1.0
304    2.0
305    2.0
306    1.0
307    3.0
308    3.0
309    2.0
310    3.0
311    2.0
312    3.0
dtype: float64

In [11]:
efi = []
for i in df.efi:
    if i == 'Sí':
        efi.append(1)
    elif i == 'No':
        efi.append(2)
    elif i == 'Podría ser mejor':
        efi.append(3)
mefi = np.mean(efi)
stdefi = np.std(efi)
q5 = pd. Series(abs(np.random.normal(mefi, stdefi, 313).round()))
q5.replace([0, 4], mefi.round(), inplace = True)
q5

0      1.0
1      2.0
2      2.0
3      2.0
4      2.0
5      2.0
6      1.0
7      1.0
8      3.0
9      2.0
10     3.0
11     2.0
12     3.0
13     1.0
14     2.0
15     3.0
16     3.0
17     2.0
18     2.0
19     2.0
20     2.0
21     2.0
22     3.0
23     3.0
24     2.0
25     2.0
26     2.0
27     2.0
28     3.0
29     2.0
      ...
283    3.0
284    3.0
285    2.0
286    2.0
287    3.0
288    2.0
289    1.0
290    2.0
291    2.0
292    1.0
293    3.0
294    3.0
295    3.0
296    2.0
297    2.0
298    2.0
299    3.0
300    3.0
301    2.0
302    3.0
303    2.0
304    2.0
305    2.0
306    2.0
307    2.0
308    2.0
309    2.0
310    2.0
311    2.0
312    2.0
dtype: float64

In [12]:
q6s, q6n = df.tramciv.value_counts()[0], df.tramciv.value_counts()[1]
props, propn = q6s/tot, q6n/tot
q6 = stats.bernoulli.rvs(props, size = 313)
len(q6)

313

In [13]:
q7s, q7n = df.recsug.value_counts()[0], df.recsug.value_counts()[1]
props, propn = q7s/tot, q7n/tot
q7 = stats.bernoulli.rvs(props, size = 313)
len(q7)

313

In [14]:
infas = []
for i in df.treal:
    if i == 'Sí':
        infas.append(1)
    elif i == 'No':
        infas.append(2)
    elif i == 'Tal vez':
        infas.append(3)
q8 = pd.Series(abs(np.random.normal(np.mean(infas), np.std(infas), 313).round()))
len(q8)
q8.replace([0, 4], mint.round(), inplace = True)
q8

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
5      1.0
6      1.0
7      1.0
8      1.0
9      1.0
10     1.0
11     1.0
12     1.0
13     1.0
14     1.0
15     1.0
16     1.0
17     1.0
18     1.0
19     1.0
20     1.0
21     1.0
22     1.0
23     1.0
24     1.0
25     1.0
26     1.0
27     1.0
28     1.0
29     1.0
      ...
283    1.0
284    1.0
285    2.0
286    1.0
287    1.0
288    1.0
289    1.0
290    1.0
291    1.0
292    1.0
293    1.0
294    1.0
295    1.0
296    1.0
297    1.0
298    1.0
299    1.0
300    1.0
301    1.0
302    1.0
303    1.0
304    1.0
305    1.0
306    1.0
307    1.0
308    1.0
309    1.0
310    1.0
311    1.0
312    1.0
dtype: float64

In [15]:
cpar = []
for i in df.cpar:
    if i == 'Sí':
        cpar.append(1)
    elif i == 'No':
        cpar.append(2)
    elif i == 'Parcialmente':
        cpar.append(3)
q9 = pd.Series(abs(np.random.normal(np.mean(cpar), np.std(cpar), 313).round()))
len(q9)
q9.replace([0, 4], mint.round(), inplace = True)
q9

0      2.0
1      2.0
2      1.0
3      2.0
4      2.0
5      2.0
6      1.0
7      2.0
8      2.0
9      2.0
10     2.0
11     3.0
12     2.0
13     1.0
14     2.0
15     2.0
16     2.0
17     1.0
18     2.0
19     2.0
20     3.0
21     2.0
22     2.0
23     3.0
24     2.0
25     1.0
26     3.0
27     1.0
28     2.0
29     2.0
      ...
283    2.0
284    2.0
285    2.0
286    1.0
287    1.0
288    1.0
289    2.0
290    1.0
291    2.0
292    2.0
293    3.0
294    2.0
295    1.0
296    2.0
297    3.0
298    1.0
299    3.0
300    2.0
301    2.0
302    2.0
303    1.0
304    2.0
305    1.0
306    2.0
307    3.0
308    3.0
309    2.0
310    1.0
311    1.0
312    1.0
dtype: float64

In [16]:
q10s, q10n = df.maspar.value_counts()[0], df.maspar.value_counts()[1]
props, propn = q10s/tot, q10n/tot
q10 = stats.bernoulli.rvs(props, size = 313)
len(q10)

313

In [17]:
dfn = pd.DataFrame(np.column_stack([sexo, q1, q2, q3, q4, q5, q6, q7, q8, q9, q10]))
dfn.head()

    0    1    2    3    4    5    6    7    8    9    10
0  0.0  3.0  1.0  1.0  2.0  1.0  1.0  1.0  1.0  2.0  1.0
1  0.0  1.0  2.0  1.0  3.0  2.0  1.0  1.0  1.0  2.0  1.0
2  0.0  2.0  2.0  1.0  3.0  2.0  1.0  1.0  1.0  1.0  1.0
3  0.0  4.0  1.0  1.0  2.0  2.0  1.0  1.0  1.0  2.0  1.0
4  1.0  5.0  1.0  1.0  3.0  2.0  1.0  1.0  1.0  2.0  1.0

In [18]:
dfn.iloc[:,0] = dfn.iloc[:, 0].replace([0,1], ['Mujer','Hombre'])
dfn.head()

       0    1    2    3    4    5    6    7    8    9    10
0   Mujer  3.0  1.0  1.0  2.0  1.0  1.0  1.0  1.0  2.0  1.0
1   Mujer  1.0  2.0  1.0  3.0  2.0  1.0  1.0  1.0  2.0  1.0
2   Mujer  2.0  2.0  1.0  3.0  2.0  1.0  1.0  1.0  1.0  1.0
3   Mujer  4.0  1.0  1.0  2.0  2.0  1.0  1.0  1.0  2.0  1.0
4  Hombre  5.0  1.0  1.0  3.0  2.0  1.0  1.0  1.0  2.0  1.0

In [19]:
dfn.iloc[:,1] = dfn.iloc[:, 1].replace(range(1,7), ['18-25','26-33', '34-41', '42-49', '50-56', '+57'])
dfn.head()

       0      1    2    3    4    5    6    7    8    9    10
0   Mujer  34-41  1.0  1.0  2.0  1.0  1.0  1.0  1.0  2.0  1.0
1   Mujer  18-25  2.0  1.0  3.0  2.0  1.0  1.0  1.0  2.0  1.0
2   Mujer  26-33  2.0  1.0  3.0  2.0  1.0  1.0  1.0  1.0  1.0
3   Mujer  42-49  1.0  1.0  2.0  2.0  1.0  1.0  1.0  2.0  1.0
4  Hombre  50-56  1.0  1.0  3.0  2.0  1.0  1.0  1.0  2.0  1.0

In [20]:
dfn.iloc[:,2] = dfn.iloc[:, 2].replace(range(1,4), ['Sí', 'No', 'Deficiente'])
dfn.head()

       0      1   2    3    4    5    6    7    8    9    10
0   Mujer  34-41  Sí  1.0  2.0  1.0  1.0  1.0  1.0  2.0  1.0
1   Mujer  18-25  No  1.0  3.0  2.0  1.0  1.0  1.0  2.0  1.0
2   Mujer  26-33  No  1.0  3.0  2.0  1.0  1.0  1.0  1.0  1.0
3   Mujer  42-49  Sí  1.0  2.0  2.0  1.0  1.0  1.0  2.0  1.0
4  Hombre  50-56  Sí  1.0  3.0  2.0  1.0  1.0  1.0  2.0  1.0

In [21]:
dfn.iloc[:,3] = dfn.iloc[:, 3].replace([0,1], ['No', 'Sí'])
dfn.head()

       0      1   2   3    4    5    6    7    8    9    10
0   Mujer  34-41  Sí  Sí  2.0  1.0  1.0  1.0  1.0  2.0  1.0
1   Mujer  18-25  No  Sí  3.0  2.0  1.0  1.0  1.0  2.0  1.0
2   Mujer  26-33  No  Sí  3.0  2.0  1.0  1.0  1.0  1.0  1.0
3   Mujer  42-49  Sí  Sí  2.0  2.0  1.0  1.0  1.0  2.0  1.0
4  Hombre  50-56  Sí  Sí  3.0  2.0  1.0  1.0  1.0  2.0  1.0

In [22]:
dfn.iloc[:,4] = dfn.iloc[:, 4].replace(range(1,4), ['Sí', 'No', 'He escuchado hablar de el superficialmente'])
dfn.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Mujer,34-41,Sí,Sí,No,1.0,1.0,1.0,1.0,2.0,1.0
1,Mujer,18-25,No,Sí,He escuchado hablar de el superficialmente,2.0,1.0,1.0,1.0,2.0,1.0
2,Mujer,26-33,No,Sí,He escuchado hablar de el superficialmente,2.0,1.0,1.0,1.0,1.0,1.0
3,Mujer,42-49,Sí,Sí,No,2.0,1.0,1.0,1.0,2.0,1.0
4,Hombre,50-56,Sí,Sí,He escuchado hablar de el superficialmente,2.0,1.0,1.0,1.0,2.0,1.0

In [23]:
dfn.iloc[:,5] = dfn.iloc[:, 5].replace(range(1,5), ['Sí', 'No', 'Podria ser Mejor', 'Podria ser Mejor'])
dfn.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Mujer,34-41,Sí,Sí,No,Sí,1.0,1.0,1.0,2.0,1.0
1,Mujer,18-25,No,Sí,He escuchado hablar de el superficialmente,No,1.0,1.0,1.0,2.0,1.0
2,Mujer,26-33,No,Sí,He escuchado hablar de el superficialmente,No,1.0,1.0,1.0,1.0,1.0
3,Mujer,42-49,Sí,Sí,No,No,1.0,1.0,1.0,2.0,1.0
4,Hombre,50-56,Sí,Sí,He escuchado hablar de el superficialmente,No,1.0,1.0,1.0,2.0,1.0

In [24]:
dfn.iloc[:,6] = dfn.iloc[:, 6].replace([0,1], ['No', 'Sí'])
dfn.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Mujer,34-41,Sí,Sí,No,Sí,Sí,1.0,1.0,2.0,1.0
1,Mujer,18-25,No,Sí,He escuchado hablar de el superficialmente,No,Sí,1.0,1.0,2.0,1.0
2,Mujer,26-33,No,Sí,He escuchado hablar de el superficialmente,No,Sí,1.0,1.0,1.0,1.0
3,Mujer,42-49,Sí,Sí,No,No,Sí,1.0,1.0,2.0,1.0
4,Hombre,50-56,Sí,Sí,He escuchado hablar de el superficialmente,No,Sí,1.0,1.0,2.0,1.0

In [25]:
dfn.iloc[:,7] = dfn.iloc[:, 7].replace([1,0], ['Sí', 'No'])
dfn.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Mujer,34-41,Sí,Sí,No,Sí,Sí,Sí,1.0,2.0,1.0
1,Mujer,18-25,No,Sí,He escuchado hablar de el superficialmente,No,Sí,Sí,1.0,2.0,1.0
2,Mujer,26-33,No,Sí,He escuchado hablar de el superficialmente,No,Sí,Sí,1.0,1.0,1.0
3,Mujer,42-49,Sí,Sí,No,No,Sí,Sí,1.0,2.0,1.0
4,Hombre,50-56,Sí,Sí,He escuchado hablar de el superficialmente,No,Sí,Sí,1.0,2.0,1.0

In [26]:
dfn.iloc[:,8] = dfn.iloc[:, 8].replace(range(1,4), ['Sí', 'No', 'Tal vez'])
dfn.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Mujer,34-41,Sí,Sí,No,Sí,Sí,Sí,Sí,2.0,1.0
1,Mujer,18-25,No,Sí,He escuchado hablar de el superficialmente,No,Sí,Sí,Sí,2.0,1.0
2,Mujer,26-33,No,Sí,He escuchado hablar de el superficialmente,No,Sí,Sí,Sí,1.0,1.0
3,Mujer,42-49,Sí,Sí,No,No,Sí,Sí,Sí,2.0,1.0
4,Hombre,50-56,Sí,Sí,He escuchado hablar de el superficialmente,No,Sí,Sí,Sí,2.0,1.0

In [27]:
dfn.iloc[:,9] = dfn.iloc[:, 9].replace(range(1,4), ['Sí', 'No', 'Parcialmente'])
dfn.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Mujer,34-41,Sí,Sí,No,Sí,Sí,Sí,Sí,No,1.0
1,Mujer,18-25,No,Sí,He escuchado hablar de el superficialmente,No,Sí,Sí,Sí,No,1.0
2,Mujer,26-33,No,Sí,He escuchado hablar de el superficialmente,No,Sí,Sí,Sí,Sí,1.0
3,Mujer,42-49,Sí,Sí,No,No,Sí,Sí,Sí,No,1.0
4,Hombre,50-56,Sí,Sí,He escuchado hablar de el superficialmente,No,Sí,Sí,Sí,No,1.0

In [28]:
dfn.iloc[:,10] = dfn.iloc[:, 10].replace([1,0], ['Sí', 'No'])
dfn.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Mujer,34-41,Sí,Sí,No,Sí,Sí,Sí,Sí,No,Sí
1,Mujer,18-25,No,Sí,He escuchado hablar de el superficialmente,No,Sí,Sí,Sí,No,Sí
2,Mujer,26-33,No,Sí,He escuchado hablar de el superficialmente,No,Sí,Sí,Sí,Sí,Sí
3,Mujer,42-49,Sí,Sí,No,No,Sí,Sí,Sí,No,Sí
4,Hombre,50-56,Sí,Sí,He escuchado hablar de el superficialmente,No,Sí,Sí,Sí,No,Sí

In [29]:
dfn.columns = ['sexo', 'q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10']